body{
    background: beige;
    background: linear-gradient(25deg,rgb(255, 216, 212) 0%, rgba(255, 248, 224, 1) 100%);
    font-family: 'Pusab';
    user-select: none;
}

.gmselscreen{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.gmselscreen h1{
    font-size: 10vmin;
}

.gamemodeselect{
    display: flex;
    justify-content: space-evenly;
}

.gamemode{
    background-color: burlywood;
    background-origin: content-box;
    background-repeat: no-repeat;
    padding: 10px;
    background-size: contain;
    text-align: center;
    width: 20vw;
    height: 20vw;
    border: 1vmin solid black;
    border-radius: 25px;
    transition: transform 0.5s;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
}

.gamemode h2{
    font-size: 6vmin;
}
.gamemode span{
    font-size: 2.1vmin;
}

@media (max-width:1200px){
    .gamemode span{
        visibility: hidden;
    }
}

.gamemode:hover{
    transform: scale(1.2);
}

.game{
    margin-top: 5vh;
    padding-bottom: 15vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 3vmin;
}

.game h1{
    margin: 0;
    padding: 0;
}
.ytvid{
    width: 90vmin;
    height: 50vmin;
}

@font-face {
    font-family: 'Pusab';
    src: url(fonts/Pusab.otf);
}

.hidden{
    display: none;
}

.ts-wrapper .option{
    font-size: 26px;
}

.ts-control{
    font-size: 26px;
}

.ts-control input{
    font-size: 32px;
}

.difficulties{
    height: 15vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.difficulty{
    filter: brightness(50%);
    width: 7vmin;
    transition: width 0.2s;
}

.difficulty.selected{
    filter: brightness(100%);
    width: 15vmin;
}

.diffsel{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.difficultyrange{
    position: absolute;
    left: 0;
    width: 80%;
}

.diff{
    position: absolute;
    right: 0;
    text-align: center;
}

.submit{
    color: white;
    font-size: 5vh;
    background-color: maroon;
    border: 3px solid red;
    border-radius: 10px;
    padding: 8px;
}

.submit:hover{
    background-color: red;
    border: 3px solid orange
}

.recap{
    font-size: 200%;
    text-align: center;
    width: 80vw;
    height: 80vh;
    left: 10vw;
    top: 10vh;
    position: fixed;
    color: #ddd;
    background-color: rgba(50,50,50,0.95);
    overflow-y: auto;
    border-radius: 25px;
    z-index: 10;
}

.skillsettype{
    color: black;
    display: inline-block;
    background-color: lightgray;
    border: 5px solid lightgray;
    border-radius: 5px;
    margin: 0 5px 10px 5px;
}

.relevant{
    background-color: lightgoldenrodyellow;
    border-color: lightyellow;
}

.irrelevant{
    background-color: gray;
    border-color: gray;
}

.skillsetrarity{
    display: none; /* this might look cool idk */
    font-size: 50%;
}

.skillsettype:hover .skillsetrarity{
    display: inline-block;
}

.selectrounds{
    width: 15%;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
}

.notloading{
    position: relative;
    top: 50%;
}

.blockrectangle{
    position: absolute;
    background: black;
    height: 75px;
    width: 90vmin;
    z-index: 2;
}