body{
    height: 100%;
    width: 100%;
    background: beige;
    background: linear-gradient(25deg,rgba(255, 225, 222, 1) 0%, rgba(255, 248, 224, 1) 100%);
    font-family: 'Pusab';
    user-select: none;
}

.gmselscreen{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.gmselscreen h1{
    font-size: 10vmin;

}

.gamemodeselect{
    display: flex;
    justify-content: space-evenly;
}

.gamemode{
    background-color: burlywood;
    background-origin: content-box;
    background-repeat: no-repeat;
    padding: 10px;
    background-size: contain;
    text-align: center;
    width: 20vw;
    height: 20vw;
    border: 1vmin solid black;
    border-radius: 25px;
    transition: transform 0.5s;
    cursor: pointer;
}

.gamemode h2{
    font-size: 6vmin;
}
.gamemode span{
    font-size: 2.1vmin;
}

@media (max-width:1200px){
    .gamemode span{
        visibility: hidden;
    }
}

.gamemode:hover{
    transform: scale(1.2);
}

.game{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3vmin;
}

.game h1{
    margin: 0;
    padding: 0;
}
.ytvid{
    width: 90vmin;
    height: 50vmin;
}

@font-face {
    font-family: 'Pusab';
    src: url(fonts/Pusab.otf);
}

.hidden{
    display: none;
}

.ts-wrapper .option{
    font-size: 26px;
}

.ts-control{
    font-size: 26px;
}

.ts-control input{
    font-size: 32px;
}

.blockrectangle{
    position: absolute;
    background: black;
    height: 75px;
    width: 90vmin;
    z-index: 2;
}