body{
    background: beige;
    background: linear-gradient(25deg,rgb(255, 205, 200) 0%, rgb(255, 246, 216) 100%);
    font-family: 'Pusab';
    user-select: none;
}


.gmselscreen a{
    position: relative;
    bottom: 25px;
    font-size: 1vw;
    color: darkolivegreen; /* olive ?! */
}


.gmselscreen{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.gmselscreen h1{
    font-size: 10vmin;
}

.gamemodeselect{
    display: flex;
    justify-content: space-evenly;
}

.gamemode{
    background-color: burlywood;
    background-origin: content-box;
    background-repeat: no-repeat;
    padding: 10px;
    background-size: contain;
    text-align: center;
    width: 20vw;
    height: 20vw;
    border: 1vmin solid black;
    border-radius: 25px;
    transition: transform 0.5s;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
}

.gamemode h2{
    font-size: 6vmin;
}
.gamemode span{
    font-size: 2.1vmin;
}

@media (max-width:1200px){
    .gamemode span{
        visibility: hidden;
    }

    .recap h1{
        font-size: 125%;
    }

    .recap div span{
        font-size: 75%;
    }

    .recap button{
        font-size: 45%;
    }

    .recap div button{
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

.gamemode:hover{
    transform: scale(1.2);
}

.game{
    margin-top: 2vh;
    padding-bottom: 15vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 3vmin;
}

.game h1{
    margin: 0;
    padding: 0;
}
.ytvid{
    width: 90vmin;
    height: 50vmin;
}

@font-face {
    font-family: 'Pusab';
    src: url(fonts/Pusab.otf);
}

.hidden{
    display: none;
}

.ts-wrapper .option{
    font-size: 26px;
}

.ts-control{
    font-size: 26px;
}

.ts-control input{
    font-size: 32px;
}

.difficulties{
    height: 15vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.difficulty{
    filter: brightness(50%);
    width: 7vmin;
    transition: width 0.2s;
}

.difficulty.selected{
    filter: brightness(100%);
    width: 15vmin;
}

.diffsel{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.difficultyrange{
    position: absolute;
    left: 0;
    width: 80%;
}

.diff{
    position: absolute;
    right: 0;
    text-align: center;
    transition: transform 1s;
}

.diff:hover{
    transform: scale(1.5);
}

.submit{
    font-family: 'Pusab';
    color: white;
    font-size: 5vh;
    background-color: maroon;
    border: 3px solid red;
    border-radius: 10px;
    padding: 8px;
    transition: border 0.1s, background-color 0.1s, box-shadow 0.2s;
    box-shadow: 5px 5px 10px black;
}

.submit:disabled{
    cursor: wait;
    color: lightgray;
    background-color: darkgray;
    border-color: black;
}

.submit:hover:enabled{
    background-color: red;
    border: 3px solid orange;
    box-shadow: 2px 2px 4px black;
}

.recap{
    font-size: 200%;
    text-align: center;
    width: 80vw;
    height: 80vh;
    left: 10vw;
    top: 10vh;
    position: fixed;
    color: #ddd;
    background-color: rgba(50,50,50,0.95);
    background: linear-gradient(45deg, rgba(25,25,25,0.95), rgba(75,75,75,0.95));
    overflow-y: auto;
    border-radius: 25px;
    z-index: 10;
}

.skillsettype{
    color: black;
    display: inline-block;
    background-color: lightgray;
    border: 5px solid lightgray;
    border-radius: 5px;
    margin: 0 5px 10px 5px;
}

.relevant{
    background-color: lightgoldenrodyellow;
    border-color: lightyellow;
}

.irrelevant{
    background-color: gray;
    border-color: gray;
}

.skillsetrarity{
    display: none; /* this might look cool idk */
    font-size: 50%;
}

.skillsettype:hover .skillsetrarity{
    display: inline-block;
}

.selectrounds{
    font-size: 2vmin;
    width: 15%;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
}

@property --tCol1 {
    syntax: '<color>';
    initial-value: yellow;
    inherits: false;
}

@property --tCol2 {
    syntax: '<color>';
    initial-value: lightgoldenrodyellow;
    inherits: false;
}

.mainmenu{
    background-color: cyan;
    border: 0.3vw solid green;
    border-radius: 1vw;

    transition: transform 1s;
}

.mainmenu:hover{
    transform: scale(1.15);
}

.cleardata:hover{
    animation: shake 0.3s linear infinite;
}

@keyframes shake{
    0% {transform: translate(1px, 1px)}
    10% {transform: translate(-1px, -3px)}
    20% {transform: translate(0px, 2px)}
    30% {transform: translate(-2px, 1px)}
    40% {transform: translate(3px, 0px)}
    50% {transform: translate(2px, -1px)}
    60% {transform: translate(-1px, 3px)}
    70% {transform: translate(0px, 0px)}
    80% {transform: translate(-2px, 2px)}
    90% {transform: translate(2px, 1px)}
    100% {transform: translate(1px, -2px)}
}

.bestscores{
    cursor:pointer;
    margin-top: 10vh;
    height: 5vmin;
    width: 15vmin;
    background-color: yellow;
    background: linear-gradient(90deg, var(--tCol1), var(--tCol2));
    border-width: 0.15vw;
    border-radius: 5px;
    font-size: 1.5vmin;
    transition: transform 0.5s, --tCol1 1s, --tCol2 1s;
}

.bestscores:hover{
    --tCol1: lightgoldenrodyellow;
    --tCol2: yellow;
    /* background: linear-gradient(45deg, lightgoldenrodyellow, yellow); */
    transform: scale(1.1);
}

.blockrectangle{
    position: absolute;
    background: black;
    height: 75px;
    width: 90vmin;
    z-index: 2;
}

a{
    transition: filter 0.3s, transform 0.3s;
}

a:hover{
    filter: brightness(1.5);
    transform: scale(1.1)
}

.notloading{
    color: orangered;
}